* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
}

.main {
  min-height: 100vh;
  width: 100%;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 20px;
}

.header {
  background-image: url("../images/bg-header.png");
}

.navbar {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  padding: 30px 60px;
}

.nav-left {
  display: flex;
  align-items: center;
  gap: 20px;
}

.account-toggle {
  background: #00c3ff;
  text-align: center;
  border-radius: 20px;
  padding: 5px 12px;
}

button {
  background: none;
  border: none;
}

.nav-right {
  display: flex;
  align-items: center;
  gap: 24px;
}

.profile-btn {
  height: 30px;
  width: 30px;
  border-radius: 20px;
  background: #0087ff;
}

.logout-btn {
  padding: 7px 15px;
  border: 1px solid wheat;
  border-radius: 6px;
}

.greeting {
  padding: 20px 60px;
}

h1 {
  font-weight: 700;
  font-size: 24px;
  color: #FDFDFD;
}

.DashboardMain {
  padding: 0 70px;
  width: 100%;
  display: flex;
  margin-top: 100px;
  gap: 20px;
  background: violet;
}

.dashboardleft {
  width: 70%;
}

.dashboardright {
  width: 30%;
  background: aqua;
}

.account-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 25px;
  border-radius: 15px;
  margin-top: 20px;
  background: #FDFDFD;
  box-shadow: 0 10px 30px 0 rgba(18, 38, 63, 0.05), 0 2px 4px 0 rgba(18, 38, 63, 0.03);
  border: 1px solid rgba(0, 0, 0, 0.02);
}

.row-left {
  display: flex;
  align-items: center;
  gap: 20px;
}

.account-filter-bar {
  display: flex;
  background: cornsilk;
  justify-content: space-between;
  padding: 16px;
  border-radius: 12px;
  margin-top: 16px;
  margin-bottom: 40px;
}

.account-filter-bar-left {
  display: flex;
  align-items: center;
  background: cadetblue;
  border-radius: 8px;
  padding-left: 16px;
  border: 1px solid;
}


.account-filter-bar-right {
  display: flex;
  border-radius: 12px;
  border: 1px solid;
}

.last {
  padding: 10px 20px;
  background: black;
  color: white;
  border-radius: 8px 0 0px 8px;
}

.upcoming {
  padding: 10px 20px;
}

.transaction-header {
  display: flex;
  justify-content: space-between;
  padding: 12px 20px;
}

.transaction-list {
  display: flex;
  justify-content: space-between;
  padding: 12px 20px;
  background: #EBF7FF;
  border-radius: 12px;
    margin-top: 10px;
}

.transaction-Amount {
  color: #FF4646;
}